---
layout: default
title: Locollect: Collect payments with link & Whatsapp reminders
---
<header>
	<div class="container">
		<div class="column">
			<img src="{{ site.baseurl }}/images/ChasingMoney-480.png" alt="Sheep">
		</div>
		<div class="column">
			<div>
				<h1 class="editable">Stop chasing payment collection</h1>
				<p class="editable">File a (group) expense with Locollect & let Locollect do the chasing for you</p>
				<blockquote style="margin-top:50px">
					<p class="quote editable"  style="font-size:small">Only UPI collection through PayTM are supported as of now.<br/><br/>It is completely free to use Locollect.</p>
					<div class="button attributei">
						<p class="meta" style="margin-top:0">
						<a href="#donate">Download App</a>
						</p>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">How Locollect works</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">One click upload</h3>
			<p class="editable">Paid for a group ? Paid to a friend ? 1 click upload it to Locollect with screenshot or bill/invoice copy.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Whatsapp reminders</h3>
			<p class="editable">Tag whatsapp group (or individuals) that are part of the expense. Locollect will share payment link & will keep reminding till payback.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Track status</h3>
			<p class="editable">Track status of payment on Locollect dashboard. Locollect will auto adjust pending payment across the Whatsapp group.</p>
		</li>
	</ul>
</div>

<div class="container">
	<h2 class="editable">Why now is the right time to build <span class="brand-color">Locollect</span></h2>
	<div class="columns">
		<div style="text-align:center">
			<img src="{{ site.baseurl }}/images/whatsapp-paytm.jpg" style="filter: grayscale(100%); max-width: 300px;" align="center" alt="Sheep">
		</div>
		<div>

			<p class="editable">
				<ul class="spaced-out-li">
					<li>UPI has become mainstream. <span class="brand-color">PayTM UPI payment gateway is free to use</span></li>
					<li><span class="brand-color">Whatsapp has opened up their APIs</span> for business. At this moment, it is not known how much is the cost to use whatsapp APIs though.</li>
					<li>UPI apps do not have great interface for auto-categorizing & filtering for easily searching past transactions.</li>
					<li class="brand-color">No app currently provides tracking of pending payments</li>
					<li>There are apps like Splitwise, which provide shared expense tracking, but their interface is clunky to use. Rather if <span class="brand-color">the group responsibility is offloaded to Whatsapp</span>, it can become much more seamless experience.</li>
				</ul>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable" style="max-width:1000px">With Locollect, we want to solve the age old problem of shared expense closure. Most apps that attempted to solve the problem made it too complicated & we believe they did not get mass adoption. Indian market is fast growing & new avenues have opened up. <br/><br/>
		Locollect has the potential to become a Cibil score authority based on payment habits of folks on a more regular basis. We also intend to keep it auditable (with consent) & open/challengable so that it truely stays democratic. We intend to expose the data with the individual consent to authorities intending to give loans for a price.<br/><br/>
		Some of the other potential monetization technique could be to create paid integrations with commercial accounting softwares for pending payment reminders. Locollect can pretty much become the book keeping ledger for small business over time which can also be monetized.
		</p>
		
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/locollect.png" alt="Wooly"></span>
				<span class="author editable"><strong>Ashish Sharma (Pocha)</strong></span>
			</p>
		</div>
	</blockquote>
</div>
<!--

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
-->
